* {
    margin: 0px;
    padding: 0px;
}
h1 {
   text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;

}
P{
    text-align: center;
}

.container{
  width: 1320px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  
}

.divItems{
    flex-basis: 22%;
    margin: 1%;
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 0px 0px 2px gray;


}
.container{
    margin-top: 10%;
}

form{
    /* justify-items: center; */
    margin: auto;
}
form label{

    display: block;
}
form button {
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
